#vue-target {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  /* Hides scrollbar for:*/
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
#vue-target::-webkit-scrollbar {
  display: none;
}

.bookmarks-icon {
  filter: var(--selected-filter);
}
.bookmarks-text {
  color: var(--accent-color) !important;
}

.my-container {
  height: 100%;
  width: 100%;
}

.card-header-title {
  background-color: var(--primary-color);
  color: white;
}
.cache-link {
  color: white;
}
.cache-link:hover {
  color: var(--accent-color);
  scale: 1.05;
}

.content-wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fit, 3, 1fr);
  gap: 10px;
}

.map-wrapper {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  height: 250px;
  width: 300px;
  grid-column: 1;
}

.marker {
  position: absolute;
  background-image: url('../icons/straight_map_marker_o.svg');
  background-size: cover;
  width: 28px;
  height: 40px;
}

.text-wrapper {
  grid-column: 2/4;
}

.stat-card {
  display: flex;
  flex-direction: column;
}
.box-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.my-box {
  color: var(--primary-color);
  margin: 0 3px;
}
.my-box.filled {
  color: var(--accent-color);
}

@media screen and (max-width: 700px) {
  .content-wrapper {
    grid-template-rows: repeat(auto-fit, 2, 1fr);
    grid-template-columns: repeat(auto-fit, 1, 1fr);
    gap: 10px;
  }
  .map-placeholder {
    margin-right: 0;
    grid-column: 1;
    grid-row: 1;
  }
  .text-wrapper {
    grid-column: 1;
    grid-row: 2;
  }
}
