* {
  overflow: hidden;
}

body {
  background-color: var(--primary-color);
}

#welcome-pg {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gold-button {
  background-color: var(--accent-color);
}

.login-wrapper {
  max-width: 500px;
  width: 70vw;
}

.login-wrapper > button {
  margin: 1em 0;
}

.logo {
  margin-bottom: 1em;
}
