#vue-target {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  /* Hides scrollbar for:*/
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
#vue-target::-webkit-scrollbar {
  display: none;
}

.profile-icon {
  filter: var(--selected-filter);
}
.profile-text {
  color: var(--accent-color) !important;
}

.profileImgs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bannerWrapper {
  height: clamp(200px, 30vw, 300px);
  width: 100%;
  overflow: hidden;
}
.bannerWrapper img {
  object-fit: cover;
}
.profilePicWrapper {
  margin-top: -80px;
  display: flex;
  height: 100px;
  width: 100px;
  align-items: center;
  justify-content: center;
}
.profilePic {
  object-fit: contain;
}

/* .infoContainer {
  padding: 0 5%;
} */
.nameAndDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}
.accountName {
  font-size: x-large;
  font-weight: bold;
}
.accountDate {
  display: flex;
  flex-direction: row;
}
.dateJoined {
  padding-left: 0.5em;
}
.accountCacheInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.statCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statCard p {
  font-weight: bold;
}
.statCard > * {
  padding: 0.5em;
}
.iconAndCount {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconAndCount > * {
  padding: 0 0.5em;
}
.iconAndCount p {
  font-weight: bold;
}

.card {
  margin: 1em;
}
.card-header-title {
  background-color: var(--primary-color);
  color: white;
}
.horizontal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cache-link {
  position: relative;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
}
.cache-link::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.cache-link:hover {
  color: var(--primary-color);
}
.cache-link:hover::before {
  transform: scaleX(1);
}
