html,
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body > footer {
  margin-top: auto;
}

.mapWrapper {
  height: 100%;
  width: 100%;
}
#map {
  position: relative;
  height: 100%;
  width: 100%;
}

p.yellowText {
  color: #fdc700;
}

.profileImgs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bannerWrapper {
  height: clamp(200px, 30vw, 300px);
  width: 100%;
  overflow: hidden;
}
.bannerWrapper img {
  object-fit: cover;
}
.profilePicWrapper {
  margin-top: -80px;
  display: flex;
  background-color: red;
  height: 100px;
  width: 100px;
  align-items: center;
  justify-content: center;
}
.profilePic {
  object-fit: contain;
}

.nameAndDate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accountName {
  font-weight: bold;
}
.accountDate {
  display: flex;
  flex-direction: row;
}
.accountCacheInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileCard .iconAndCount {
  display: flex;
  flex-direction: row;
  align-items: center;
}
