#vue-target {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    /* Hides scrollbar for:*/
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
  /* Hide scrollbar for Chrome, Safari and Opera */
#vue-target::-webkit-scrollbar {
    display: none;
}

#suggestWrapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: -1;
   
    overflow: hidden;
}

#suggestForm{ 
    height: 90%;
    width: 90%;
}

/*Map*/
#mapWrapper{
  top:10px;
}

#map {
  height: 30vh;
  width: 100%;
}


.marker {
  background-image: url('../icons/cache-icon.png');
  background-size: cover; 
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
}

/*Form*/
#submitButton{
  background-color: #fdc700;
  border-style: none;
}

#titleCache{
  height: 30px;
}

#confirmWrapper{
  width: 70%;;
}

#confirmSubtitle{
  word-wrap: break-word;
  width: 230px; 
}

#checkIcon{
 margin-left:80px; 
}
