[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<link rel="stylesheet" href="css/bookmarks.css" />

<div class="section" id="vue-target">
  <div class="container">
    <h1 class="title block mt-3">Bookmarked Caches</h1>
    <h1 v-if="bookmarks.length <= 0">Empty list :(</h1>
    <div v-for="bookmark in bookmarks" class="card mt-5 mb-5">
      <div class="card-header">
        <div class="card-header-title">
          <a class="cache-link" :href="bookmark.href"
            >{{bookmark.cache_name}}</a
          >
        </div>
      </div>
      <div class="card-content">
        <div class="content content-wrapper">
          <div class="map-placeholder">Map Goes Here</div>
          <div class="text-wrapper">
            <p class="is-size-5">Description</p>
            <p>{{bookmark.description}}</p>
            <p class="is-size-5">Hint</p>
            <p>{{bookmark.hint}}</p>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <div class="card-footer-item stat-card">
          <p>Difficulty</p>
          <div class="box-wrapper">
            <i
              v-for="box_idx in max_boxes"
              class="fa fa-square m-1 my-box"
              :class="{'filled': box_idx <= bookmark.difficulty}"
            >
            </i>
          </div>
        </div>
        <div class="card-footer-item stat-card">
          <p>Terrain</p>
          <div class="box-wrapper">
            <i
              v-for="box_idx in max_boxes"
              class="fa fa-square m-1 my-box"
              :class="{'filled': box_idx <= bookmark.terrain}"
            >
            </i>
          </div>
        </div>
        <div class="card-footer-item stat-card">
          <p>Size</p>
          <div class="box-wrapper">
            <i
              v-for="box_idx in max_boxes"
              class="fa fa-square m-1 my-box"
              :class="{'filled': box_idx <= bookmark.size}"
            >
            </i>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_bookmarks_url = '[[=XML(get_bookmarks_url)]]';
</script>
<script src="js/bookmarks.js"></script>
[[end]]
