[[extend 'layout.html']] [[block page_head]]
<link rel="stylesheet" href="css/cache_info.css" />
[[end]]

<section id="vue-target">
  <header>
    <section class="hero is-fullwidth is-medium">
      <div class="hero-body p-0">
        <div class="bannerWrapper">
          <img :src="cache_photo_path" :alt="cache_photo_path" />
        </div>
      </div>
    </section>
  </header>
  <body>
    <div class="header">
      <div class="alignWrapper">
        <div class="nameWrapper">
          <div class="cacheName">{{cache_name}}</div>
        </div>
        <div class="bookmarkWrapper">
          <button class="button" @click="bookmark">
            <!-- When trying this, heart icons are appended on toggle -->
            <!-- <i v-if="bookmarked" class="fas fa-heart"/></i>
              <i v-if="!bookmarked" class="far fa-heart"/></i> -->
            <!-- For some reason, the class isn't reactive -->
            <i class="fa-heart" :class="bookmarked ? 'fas' : 'far'"></i>
            <p class="m-2">Bookmark</p>
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <div class="statsWrapper">
      <div class="statCard">
        <div class="boxWrapper">
          <span v-for="box_idx in [1, 2, 3, 4, 5]">
            <i
              v-if="box_idx <= cache_diff"
              class="fas fa-square m-1"
              style="color: #fdc700"
            ></i>
            <i
              v-if="box_idx > cache_diff"
              class="fas fa-square m-1"
              style="color: #003c6c"
            ></i>
          </span>
        </div>
        <div class="statName">Difficulty</div>
      </div>
      <div class="statCard">
        <div class="boxWrapper">
          <span v-for="box_idx in [1, 2, 3, 4, 5]">
            <i
              v-if="box_idx <= cache_terrain"
              class="fas fa-square m-1"
              style="color: #fdc700"
            ></i>
            <i
              v-if="box_idx > cache_terrain"
              class="fas fa-square m-1"
              style="color: #003c6c"
            ></i>
          </span>
        </div>
        <div class="statName">Terrain</div>
      </div>
      <div class="statCard">
        <div class="boxWrapper">
          <span v-for="box_idx in [1, 2, 3, 4, 5]">
            <i
              v-if="box_idx <= cache_size"
              class="fas fa-square m-1"
              style="color: #fdc700"
            ></i>
            <i
              v-if="box_idx > cache_size"
              class="fas fa-square m-1"
              style="color: #003c6c"
            ></i>
          </span>
        </div>
        <div class="statName">Size</div>
      </div>
    </div>
    <hr class="line" />
    <section class="cacheContent">
      <div class="contentWrapper">
        <div class="contentHeader">Description:</div>
        <div class="descriptionContent">{{cache_desc}}</div>
      </div>
      <div class="contentWrapper">
        <div class="contentHeader">Hint:</div>
        <div class="descriptionContent">{{cache_hint}}</div>
      </div>
      <div class="contentWrapper">
        <div class="contentHeader">Additional Information:</div>
        <div class="descriptionContent">
          <div>Located at {{cache_lat}}, {{cache_long}}</div>
          <div>Created on {{cache_create_date}} by {{cache_author}}</div>
        </div>
      </div>
    </section>
  </body>
</section>

[[block page_scripts]]
<script>
  let getCacheURL = '[[=XML(getCacheURL)]]';
  let getUserURL = '[[=XML(getUserURL)]]';
  let setBookmarkedURL = '[[=XML(setBookmarkedURL)]]';
  let getBookmarkedURL = '[[=XML(getBookmarkedURL)]]';
</script>
<script src="js/cache_info.js"></script>
<script
  defer
  src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
></script>
<!--Change-->
<!-- Loads the index-specific js for Vue -->
[[end]]
