[[extend 'layout.html']] [[block page_head]]
<link rel="stylesheet" href="css/cache_info.css" />
[[end]]

<div id="vue-target">
  <div class="container" id="detailsWrapper">
  
    <div class="box m-0 p-0">
      <div id="map"></div>
    </div>

    <div class="columns is-mobile is-centered m-0">
      <div class="column is-narrow pb-0">
        <h4 class="title is-4">{{cache_name}}</h6>
      </div>
    </div>

    <div class="columns is-mobile is-centered m-0">
      <div class="column is-narrow">
        <button class="button" @click="bookmark">
          <span v-show="bookmarked">
            <i class="fas fa-heart"/></i>
          </span>
          <span v-show="!bookmarked">
            <i class="far fa-heart"/></i>
          </span>
          <p class="m-2">Bookmark</p>
      </button>
      </div>
    </div>

    <div class="columns is-mobile is-centered m-0">
      <div class="column is-narrow">
        <i
        v-for="box_idx in cache_max_boxes"
        class="fas fa-square myBox"
        :class="{'filled': box_idx <= cache_diff}"
      >
      </i>
      <h6 class="title is-6 ml-4">Difficulty</h6>
      </div>
      <div class="column is-narrow">
        <i
          v-for="box_idx in cache_max_boxes"
          class="fas fa-square myBox"
          :class="{'filled': box_idx <= cache_terrain}"
          >
        </i>
        <h6 class="title is-6 ml-5">Terrain</h6>
      </div>
      <div class="column is-narrow">
        <i
        v-for="box_idx in cache_max_boxes"
        class="fas fa-square myBox"
        :class="{'filled': box_idx <= cache_size}"
        >
        </i>
        <h6 class="title is-6 ml-5 pl-3" >Size</h6>
      </div>
    </div>

    <div class="columns is-centered m-0">
      <div class="column pt-0">

        <div class="card">
          <div class="card-header">
            <div class="card-header-title">Cache Info</div>
          </div>
          <div class="card-content pl-4 pr-4" id="infoWrapper">
            <h6 class="title is-6" >Description</h6>
            <h6 class="subtitle is-6">{{cache_desc}}</h6>
            <h6 class="title is-6" >Hint</h6>
            <h6 class="subtitle is-6">{{cache_hint}}</h6>
            <h6 class="title is-6" >Coordinates</h6>
            <h6 class="subtitle is-6">{{cache_long}}, {{cache_lat}}</h6>
            <h6 class="title is-6" >Created By</h6>
            <h6 class="subtitle is-6">{{cache_author}} on {{cache_create_date}}</h6>
          </div>
        </div>


      </div>
      <div class="column pt-0" >

        <div class="card">
          <div class="card-header">
            <div class="card-header-title">Log Feed</div>
          </div>
            <div class="card-content pr-0"  id="logWrapper">
              <div class="media">
                <div class="media-content log-list">
                  <div v-for="log in cache_logs" class="media">{{log.first_name}} {{log.last_name}} discovered this cache on {{log.discover_month}}/{{log.discover_day}}/{{log.discover_year}}</div>
                </div>
              </div>
            </div>
          <div class="card-footer">
            <div class="card-footer-item log-button-and-text"><!--new-->
              <div class="button" :disabled="button_disabled" @click="logCache">Log Cache</div>
              <p v-if="button_disabled" class="has-text-danger">Next log available {{refresh_time.month}}/{{refresh_time.date}}/{{refresh_time.year}} at {{refresh_time.time}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    
  </div>
</div>

[[block page_scripts]]
<script>
  let getCacheURL = '[[=XML(getCacheURL)]]';
  let getUserURL = '[[=XML(getUserURL)]]';
  let setBookmarkedURL = '[[=XML(setBookmarkedURL)]]';
  let getBookmarkedURL = '[[=XML(getBookmarkedURL)]]';
  let logCacheURL = '[[=XML(logCacheURL)]]';
  let getLogsURL = '[[=XML(getLogsURL)]]';
  let checkTimerURL = '[[=XML(checkTimerURL)]]';
</script>
<script src="js/cache_info.js"></script>
<script
  defer
  src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
></script>
<!--Change-->
<!-- Loads the index-specific js for Vue -->
[[end]]

