[[extend 'layout.html']] [[block page_head]]
<link rel="stylesheet" href="css/cache_info.css" />
[[end]]

<section id="vue-target">
  <header>
    <section class="hero is-fullwidth is-small mt-3" id="mapWrapper">
      <div class="container is-max-desktop">
        <div class="box">
            <div id="map"></div> <!--Map-->
        </div>
      </div>
    </section>
  </header> 

  <body>
    <div class="container">
      <div class="header">
        <div class="alignWrapper">
          <div class="nameWrapper">
            <div class="cacheName">{{cache_name}}</div>
          </div>
          <div class="bookmarkWrapper">
            <button class="button" @click="bookmark">
              <span v-show="bookmarked">
                <i class="fas fa-heart"/></i>
              </span>
              <span v-show="!bookmarked">
                <i class="far fa-heart"/></i>
              </span>
              <p class="m-2">Bookmark</p>
            </button>
          </div>
        </div>
      </div>
      <div class="card mt-5 mb-5">
        <div class="card-footer">
          <div class="card-footer-item statCard">
            <div class="boxWrapper">
              <i
                v-for="box_idx in cache_max_boxes"
                class="fas fa-square myBox"
                :class="{'filled': box_idx <= cache_diff}"
              >
              </i>
            </div>
            <div class="statName">Difficulty</div>
          </div>
          <div class="card-footer-item statCard">
            <div class="boxWrapper">
              <i
                v-for="box_idx in cache_max_boxes"
                class="fas fa-square myBox"
                :class="{'filled': box_idx <= cache_terrain}"
              >
              </i>
            </div>
            <div class="statName">Terrain</div>
          </div>
          <div class="card-footer-item statCard">
            <div class="boxWrapper">
              <i
                v-for="box_idx in cache_max_boxes"
                class="fas fa-square myBox"
                :class="{'filled': box_idx <= cache_size}"
              >
              </i>
            </div>
            <div class="statName">Size</div>
          </div>
        </div>
      </div>

      <section class="cacheContent">
        <div class="cacheContentColumn">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">Cache Info</div>
            </div>
            <div class="card-content">
              <div class="infoHeader">Description:</div>
              <div class="infoContent">{{cache_desc}}</div>
              <div class="infoHeader">Hint:</div>
              <div class="infoContent">{{cache_hint}}</div>
              <div class="infoHeader">Additional Information:</div>
              <div class="infoContent">
                <div>Located at {{cache_lat}}, {{cache_long}}</div>
                <div>Created on {{cache_create_date}} by {{cache_author}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cacheContentColumn">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">Log Feed</div>
              </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div class="media">Chris Sterza discovered this cache on 6/1/2022</div>
                  <div class="media">Chris Sterza discovered this cache on 6/1/2022</div>
                  <div class="media">Chris Sterza discovered this cache on 6/1/2022</div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="card-footer-item">
                <div class="button">Log Cache</div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</section>

[[block page_scripts]]
<script>
  let getCacheURL = '[[=XML(getCacheURL)]]';
  let getUserURL = '[[=XML(getUserURL)]]';
  let setBookmarkedURL = '[[=XML(setBookmarkedURL)]]';
  let getBookmarkedURL = '[[=XML(getBookmarkedURL)]]';
</script>
<script src="js/cache_info.js"></script>
<script
  defer
  src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
></script>
<!--Change-->
<!-- Loads the index-specific js for Vue -->
[[end]]
