[[extend 'layout.html']]

[[block page_head]]
<link rel="stylesheet" href="css/geocache_info.css">
[[end]]

<section id="vue-target">
    <header>
        <section class="hero is-fullwidth is-medium">
            <div class="hero-body p-0">
              <div class="bannerWrapper">
                <img :src="cache_photo_path" :alt="cache_photo_path"/>
              </div>
            </div>
        </section>
    </header>
    <body>
        <div class="nameAndBookmark">
            <div>{{cache_name}}</div>
        </div>
        <div class="nameAndBookmark">
            <div>
                <button class="button" @click="bookmark"><i class="far fa-heart"></i></button>
                Bookmark
            </div>
        </div>
        <hr class="line">
        <div class="container is-fullwidth">
            <div class="columns is-centered">
                <div class="column is-centered">
                    <i class="fas fa-square"></i>
                    <div>Difficulty</div>
                </div>
                <div class="column is-centered">
                    <i class="fas fa-square"></i>
                    <div>Terrain</div>
                </div>
                <div class="column is-centered">
                    <i class="fas fa-square"></i>
                    <div>Size</div>
                </div>
            </div>
        </div>
        <hr class="line">
        <section class="nameAndBookmark">
            <div class="container is-fullwidth" >
                Description:
            </div>
            <div class="container is-fullwidth" >
                {{cache_desc}}
            </div>
        </section>
        <section class="nameAndBookmark">
            <div class="container is-fullwidth" >
                Hint:
            </div>
            <div class="container is-fullwidth" >
                {{cache_hint}}
            </div>
        </section>
    </body>
    <div class="container is-centered is-fullwidth">
        <section class="section is-large is-centered">
            <div>Extra info
            <div>lat = {{cache_lat}}</div>
            <div>long = {{cache_long}}</div>
            <div>hint = {{cache_hint}}</div>
            <div>author = {{cache_author}}</div>
            <div>creation_date = {{cache_create_date}}</div>
        </section>
    </div>
</section>

[[block page_scripts]]
<script>
  let loadGeoCachesURL = "[[=XML(loadGeoCachesURL)]]";
  let getUserURL = "[[=XML(getUserURL)]]";

</script>
<script src="js/geocache_info.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> <!--Change-->
<!-- Loads the index-specific js for Vue -->
[[end]]