[[extend 'layout.html']]
<link rel="stylesheet" href="css/login.css" />

<div class="section" id="login-page">
  <header>
    <figure class="image is-128x128">
      <img src="../static/images/ucsc-logo.jpg" alt="UCSC Logo" />
    </figure>
    <h1 class="title">UCSC Geocaching</h1>
  </header>
  <main>
    <form id="login-form" @submit.prevent="login" novalidate v-cloak>
      <div class="field">
        <div class="control has-icons-left">
          <input
            class="input"
            type="email"
            placeholder="Email Address"
            autocomplete="email"
            required
            v-model="email"
            :class="{ 'is-danger': !isValidCredentials }"
          />
          <span class="icon is-small is-left">
            <i class="fa fa-fw fa-envelope-o"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <div class="control has-icons-left">
          <input
            class="input"
            type="password"
            placeholder="Password"
            autocomplete="current-password"
            required
            v-model="password"
            :class="{ 'is-danger': !isValidCredentials }"
          />
          <span class="icon is-small is-left">
            <i class="fa fa-fw fa-lock"></i>
          </span>
        </div>
        <p v-if="!isValidCredentials" class="help is-danger">
          Incorrect email or password. Please try again.
        </p>
      </div>
      <div class="columns is-variable is-2p5">
        <div class="column">
          <button class="button is-fullwidth is-warning" type="submit">
            Login
          </button>
        </div>
        <div class="column">
          <button
            class="button is-fullwidth is-warning"
            type="button"
            @click="register"
          >
            Sign Up
          </button>
        </div>
      </div>
    </form>
  </main>
  <footer>
    <button class="button is-ghost">Forgot Password?</button>
  </footer>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  const baseURL = '[[=XML(base_url)]]';
  const next = '[[=XML(next)]]';
  const loginComponent = new Vue({
    el: '#login-form',
    data: {
      email: '',
      password: '',
      isValidCredentials: true,
    },
    methods: {
      login() {
        axios
          .post(`${baseURL}auth/api/login`, {
            email: this.email,
            password: this.password,
          })
          .then((resp) => {
            this.isValidCredentials = true;
            location.href = next;
          })
          .catch((err) => (this.isValidCredentials = false));
      },
      register() {
        location.href = `${baseURL}register`;
      },
    },
  });
</script>
[[end]]
