[[extend 'layout.html']]


[[block page_head]]
<link rel="stylesheet" href="css/map.css">
[[end]]


<div class="mapWrapper" id="vue-target">

  <div class="control has-icons-left block mb-0"> <!--Search Bar-->
    <input class="input" type="text" placeholder="Search" v-model="query" @keyup="search" />
    <span class="icon is-small is-left">
      <i class="fas fa-search"></i>
  </div>

  <transition name="slide-fade" mode="out-in">
  <div v-if="popupMode" class="section box"> <!--Popups-->
    <div class="popupColumn">
      <div id="popColOne">
        <p class="title is-5">
          {{cacheTitle}}
        </p>
        <p class="subtitle is-6">
          {{cacheDescr}}
        </p>
      </div>
    </div>
    <div class="popupColumn2">
      <div id="popColTwo">
        <span class="icon">
          <button class="custButton is-white" @click="redirectCacheInfo(cacheID)">
            <i class="fas fa-chevron-right"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
</transition>

  <div id="map"></div> <!--Map-->
</div>



[[block page_scripts]]
<script>
  let loadGeoCachesURL = "[[=XML(loadGeoCachesURL)]]";
  let searchURL = "[[=XML(searchURL)]]";

</script>
<script src="js/map.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> <!--Change-->
<!-- Loads the index-specific js for Vue -->
[[end]]
