[[extend 'layout.html']]


[[block page_head]]
<link rel="stylesheet" href="css/map.css">
[[end]]
 


<div class="mapWrapper" id="vue-target">
  
  <div v-if="loadMode" id="loadingScreen">
    <div id="loader">
      <div id="shadow"></div>
      <div id="box"></div> 
      <h4>Loading Caches</h4>
    </div>
  </div>

  <div v-if="!loadMode && !searchMode" class="suggestButtonWrapper mt-2 mr-2">

    <!--<a class="button" id="suggestButton" href="[[=URL('suggest')]]">Suggest a Cache</a> -->
    <a href="[[=URL('suggest')]]">
      <i class="fa fa-plus-circle is-size-1" id="suggestButton" aria-hidden="true"></i>
    </a>
    
    
  </div>

  <div v-if="!loadMode && !searchMode" class="searchButton" @click="setSearchMode(true)">
    <span class="icon-text">
      <i class="fa fa-search is-size-5"></i>
    </span>
  </div>

  <div class="searchBar">
    <div v-if="searchMode" class="control has-icons-left block mb-0"> <!--Search Bar-->
      <input class="input is-rounded" type="text" placeholder="Search" v-model="query" @keyup="search" />
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
    </div>
  </div>


  <transition name="slide-fade" mode="out-in">
  <div v-if="popupMode && !loadMode" class="section box mb-0" @click="redirectCacheInfo"> <!--Popups-->
    <div class="popupColumn">
      <div id="popColOne">
        <p class="title is-5">
          {{cacheTitle}}
        </p>
        <p class="subtitle is-6">
          {{cacheDescr}}
        </p>
      </div>
    </div>
    <div class="popupColumn2">
      <div id="popColTwo">
        <span class="icon">
          <button class="custButton" @click="redirectCacheInfo">
            <i class="fas fa-chevron-right"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
</transition>

  <div id="map"></div> <!--Map-->

  

</div>



[[block page_scripts]]
<script>
  let loadGeoCachesURL = "[[=XML(loadGeoCachesURL)]]";
  let searchURL = "[[=XML(searchURL)]]";
  let generateCacheURL = "[[=XML(generateCacheURL)]]";

</script>
<script src="js/map.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> <!--Change-->
<!-- Loads the index-specific js for Vue -->
[[end]]
