[[extend 'layout.html']]

<!-- FIGURE OUT WHY THIS STYLE ISN'T BEING APPLIED FROM styles.css -->
<style>
  [v-cloak] {
    display: none;
  }
</style>

<link rel="stylesheet" href="css/profile.css" />

<div class="section" id="vue-target">
  <div class="profileImgs">
    <section class="hero is-fullwidth is-medium">
      <div class="hero-body p-0">
        <div class="bannerWrapper">
          <img :src="banner_URL" alt="Banner Image" />
        </div>
      </div>
    </section>
    <div class="profilePicWrapper">
      <img class="profilePic" :src="profile_pic_URL" alt="Profile Picture" />
    </div>
  </div>

  <div class="container">
    <div class="nameAndDate">
      <p class="accountName">{{first_name}} {{last_name}}</p>
      <p></p>
      <div class="accountDate">
        <p>Member since:</p>
        <p class="dateJoined">{{creation_date}}</p>
      </div>
    </div>

    <div class="columns is-centered">
      <!-- Left column -->
      <div class="column">
        <!-- Account stats -->
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">Account Statistics</div>
          </div>
          <div class="card-content horizontal-content">
            <div class="statCard">
              <div class="iconAndCount">
                <img src="../static/icons/notebook.svg" alt="Notebook Icon" />
                <p>{{logs}}</p>
              </div>
              <p>Caches logged</p>
            </div>
            <div class="statCard">
              <div class="iconAndCount">
                <img
                  src="../static/icons/treasure_chest.svg"
                  alt="Treasure Icon"
                />
                <p>{{hides}}</p>
              </div>
              <p>Caches hidden</p>
            </div>
          </div>
        </div>
        <!-- Hidden caches card -->
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">Caches Hidden</div>
          </div>
          <div class="card-content">
            <div v-if="hidden_caches.length <= 0">
              <p>{{first_name}} {{last_name}} has not hidden any caches</p>
            </div>
            <div v-else v-for="cache in hidden_caches">
              <a :href="cache.href" class="cache-link">{{cache.cache_name}}</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Right column -->
      <div class="column">
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">Account Activity</div>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <div v-for="activity in activities" class="media">
                  <p>
                    {{first_name}} {{last_name}} discovered
                    <a :href="activity.href" class="cache-link">
                      {{activity.cache_name}}
                    </a>
                    on
                    {{activity.discover_month}}/{{activity.discover_day}}/{{activity.discover_year}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let load_profile_url = '[[=XML(load_profile_url)]]';
  let load_activity_url = '[[=XML(load_activity_url)]]';
  let load_hidden_caches_url = '[[=XML(load_hidden_caches_url)]]';
</script>
<script src="js/profile.js"></script>
[[end]]
