[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
  
  .profile-icon {
    filter: var(--selected-filter);
  }
  .profile-text {
    color: var(--selected-color) !important;
  }
</style>

<div class="profileImgs">
  <section class="hero is-fullwidth is-medium">
    <div class="hero-body p-0">
      <div class="bannerWrapper">
        <img src="../static/images/DefaultBanner.jpg" alt="Banner Image" />
      </div>
    </div>
  </section>
  <div class="profilePicWrapper">
    <img class="profilePic" src="../static/images/DefaultProfilePic.jpg" alt="Profile Picture"></div>
  </div>
</div>

<div class="infoContainer">
  <div class="nameAndDate">
    <p class="accountName">Account Name<p>
    <div class="accountDate">
      <p>Member since: </p>
      <p id="dateJoined">04/16/2022</p>
    </div>
  </div>
  <div class="accountCacheInfo">
    <div class="profileCard">
      <div class="iconAndCount">
        <img src="../static/icons/notebook.svg" alt="Notebook Icon">
        <p>5</p>
      </div>
      <p>Caches logged</p>
    </div>
    <div class="profileCard">
      <div class="iconAndCount">
        <img src="../static/icons/treasureChest.svg" alt="Treasure Icon">
        <p>3</p>
      </div>
      <p>Caches hidden</p>
    </div>
  </div>
</div>

<div class="section" id="vue-target" v-cloak>
  <!-- Put here your Vue.js template -->
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let my_callback_url = '[[=XML(my_callback_url)]]';
</script>
<script src="js/index.js"></script>
[[end]]
