[[extend 'layout.html']]

<link rel="stylesheet" href="css/profile.css" />

<div class="section" id="vue-target">
  <div class="profileImgs">
    <section class="hero is-fullwidth is-medium">
      <div class="hero-body p-0">
        <div class="bannerWrapper">
          <img src="../static/images/default_banner.jpg" alt="Banner Image" />
        </div>
      </div>
    </section>
    <div class="profilePicWrapper">
      <img
        class="profilePic"
        src="../static/images/default_profile_pic.jpg"
        alt="Profile Picture"
      />
    </div>
  </div>

  <div class="infoContainer">
    <div class="nameAndDate">
      <p class="accountName">Account Name</p>
      <p></p>
      <div class="accountDate">
        <p>Member since:</p>
        <p id="dateJoined">04/16/2022</p>
      </div>
    </div>
    <div class="accountCacheInfo">
      <div class="profileCard">
        <div class="iconAndCount">
          <img src="../static/icons/notebook.svg" alt="Notebook Icon" />
          <p>5</p>
        </div>
        <p>Caches logged</p>
      </div>
      <div class="profileCard">
        <div class="iconAndCount">
          <img src="../static/icons/treasure_chest.svg" alt="Treasure Icon" />
          <p>3</p>
        </div>
        <p>Caches hidden</p>
      </div>
    </div>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
[[end]]
