[[extend 'layout.html']]

<div class="section" id="register-page">
  <form id="register-form" @submit.prevent="login" novalidate v-cloak>
    <h2 class="title">Register</h2>
    <!-- email address -->
    <div class="field">
      <div class="control has-icons-left">
        <input
          class="input"
          type="email"
          placeholder="Email Address"
          autocomplete="email"
          required
          v-model="email"
          :class="{ 'is-danger': errors.email !== '' }"
        />
        <span class="icon is-small is-left">
          <i class="fa fa-fw fa-envelope-o"></i>
        </span>
      </div>
      <p v-if="errors.email !== ''" class="help is-danger">{{errors.email}}</p>
    </div>
    <!-- password -->
    <div class="field">
      <div class="control has-icons-left">
        <input
          class="input"
          type="password"
          placeholder="Password"
          autocomplete="current-password"
          required
          v-model="password"
          :class="{ 'is-danger': errors.password !== '' }"
        />
        <span class="icon is-small is-left">
          <i class="fa fa-fw fa-lock"></i>
        </span>
      </div>
    </div>
    <!-- password (again) -->
    <div class="field">
      <div class="control has-icons-left">
        <input
          class="input"
          type="password"
          placeholder="Password (again)"
          autocomplete="current-password"
          required
          v-model="passwordAgain"
          :class="{ 'is-danger': errors.password !== '' }"
        />
        <span class="icon is-small is-left">
          <i class="fa fa-fw fa-lock"></i>
        </span>
      </div>
      <p v-if="errors.password !== ''" class="help is-danger">
        {{errors.password}}
      </p>
    </div>
    <!-- first name -->
    <div class="field">
      <div class="control has-icons-left">
        <input
          class="input"
          type="text"
          placeholder="First Name"
          autocomplete="given-name"
          required
          v-model="firstName"
          :class="{ 'is-danger': errors.firstName !== '' }"
        />
        <span class="icon is-small is-left">
          <i class="fa fa-fw fa-user-o"></i>
        </span>
      </div>
      <p v-if="errors.firstName !== ''" class="help is-danger">
        {{errors.firstName}}
      </p>
    </div>
    <!-- last name -->
    <div class="field">
      <div class="control has-icons-left">
        <input
          class="input"
          type="text"
          placeholder="Last Name"
          autocomplete="family-name"
          required
          v-model="lastName"
          :class="{ 'is-danger': errors.lastName !== '' }"
        />
        <span class="icon is-small is-left">
          <i class="fa fa-fw fa-user-o"></i>
        </span>
      </div>
      <p v-if="errors.lastName !== ''" class="help is-danger">
        {{errors.lastName}}
      </p>
    </div>
    <div class="columns is-variable is-2p5">
      <div class="column">
        <button class="button is-fullwidth is-warning" type="submit">
          Login
        </button>
      </div>
      <div class="column">
        <button
          class="button is-fullwidth is-warning"
          type="button"
          @click="register"
        >
          Sign Up
        </button>
      </div>
    </div>
  </form>
</div>

<style>
  [v-cloak] {
    display: none;
  }

  #register-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
  }

  form {
    margin-left: auto;
    margin-right: auto;
  }

  form {
    width: 30%;
  }

  .columns.is-variable.is-2p5 {
    --columnGap: calc(0.5 * 0.75rem);
    /* bulma default gap size is 0.75rem */
  }
</style>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  const baseURL = '[[=XML(base_url)]]';
  const next = '[[=XML(next)]]';
  const add_user_url = '[[=XML(add_user_url)]]';
  const registerComponent = new Vue({
    el: '#register-form',
    data: {
      email: '',
      password: '',
      passwordAgain: '',
      firstName: '',
      lastName: '',
      errors: {
        email: '',
        password: '',
        firstName: '',
        lastName: '',
      },
    },
    methods: {
      login() {
        location.href = `${baseURL}login`;
      },
      register() {
        if (this.password !== this.passwordAgain) {
          this.errors.password = 'Not matching';
          return;
        }
        axios
          .post(`${baseURL}auth/api/register`, {
            email: this.email,
            password: this.password,
            first_name: this.firstName,
            last_name: this.lastName,
          })
          .then((resp) => {
            axios.post(`${add_user_url}`, {
              first_name: this.firstName,
              last_name: this.lastName,
              email: this.email,
            });
            this.errors.email = '';
            this.errors.password = '';
            this.errors.firstName = '';
            this.errors.lastName = '';
            this.login();
          })
          .catch((err) => {
            const errors = err.response.data.errors || '';
            this.errors.email = errors.email || '';
            this.errors.password = errors.password || '';
            this.errors.firstName = errors.first_name || '';
            this.errors.lastName = errors.last_name || '';
          });
      },
    },
  });
</script>
[[end]]
