[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<link rel="stylesheet" href="css/suggest.css" />

<div class="suggestWrapper" id="vue-target">

  <div id="suggestHeader">
    <div class="columns is-mobile is-centered m-0">
      <div class="column is-half">
        <h6 class="title is-6">Suggest a Cache</h6>
      </div>
    </div>
  </div>

  <div id="suggestForm"></div>
 
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script src="js/suggest.js"></script>
[[end]]
