[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<link rel="stylesheet" href="css/suggest.css" />

<div class="suggestWrapper" id="vue-target">
  <div class="container">
    <div class="box m-0 p-0">
      <div id="map"></div>
      <!--Map-->
    </div>

    <div v-if="formMode" class="card">
      <header class="card-header">
        <p class="card-header-title">Suggest a Cache</p>
      </header>
      <div class="card-content">
        <div class="content">
          <div class="field">
            <div class="control">
              <input
                class="input"
                type="text"
                v-model="newName"
                placeholder="Cache Name (ex: Porter Stage)"
              />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input
                class="input"
                type="text"
                v-model="newHint"
                placeholder="Hint"
              />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <textarea
                class="textarea has-fixed-size"
                v-model="newDesc"
                placeholder="Description"
              ></textarea>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <a
                class="button gold-button"
                @click="addCache(); toggleForm(false)"
              >
                Submit
              </a>
            </div>
            <div class="control">
              <a class="button" id="cancelButton" href="[[=URL('map')]]">
                Cancel
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="!formMode" class="container" id="confirmWrapper">
      <div class="columns is-mobile is-centered m-0 mt-3">
        <div class="column is-narrow">
          <div class="box has-text-centered">
            <h6 class="title is-6 mb-0">Cache Successfully Submitted</h6>
            <i class="fa fa-check fa-4x" aria-hidden="true"></i>
            <h6 class="subtitle is-6 ml-2 pr-3" id="confirmSubtitle">
              Your cache is pending review. If approved, the cache will be added
              to the map.
            </h6>
            <a href="[[=URL('map')]]" class="button gold-button"
              >Return to map</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let addCacheURL = '[[=XML(addCacheURL)]]';
  let loadGeoCachesURL = "[[=XML(loadGeoCachesURL)]]";
</script>
<script src="js/suggest.js"></script>
[[end]]
