[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<link rel="stylesheet" href="css/suggest.css" />

<div class="suggestWrapper" id="vue-target">
  <div class="container">
    <div class="box m-0 p-0">
      <div id="map"></div>
      <!--Map-->
    </div>

    <div v-if="formMode" class="card mt-3">
      <header class="card-header">
        <p class="card-header-title">Suggest a Cache</p>
      </header>
      <div class="card-content">
        <div class="content">
          <div v-if="errName" class="error-message has-text-danger">
            Please enter a name
          </div>
          <div class="field">
            <div class="control">
              <input
                class="input"
                type="text"
                v-model="newName"
                placeholder="Cache Name (ex: Porter Stage)"
              />
            </div>
          </div>
          <div v-if="errHint" class="error-message has-text-danger">
            Please enter a hint
          </div>
          <div class="field">
            <div class="control">
              <input
                class="input"
                type="text"
                v-model="newHint"
                placeholder="Hint"
              />
            </div>
          </div>
          <div v-if="errDesc" class="error-message has-text-danger">
            Please enter a description
          </div>
          <div class="field">
            <div class="control">
              <textarea
                class="textarea has-fixed-size"
                v-model="newDesc"
                placeholder="Description"
              ></textarea>
            </div>
          </div>

          <div class="field centered-content">
            <div class="stat-card">
              <p>Difficulty</p>
              <div class="select is-link">
                <select v-model="newDiff" id="selDiff">
                  <option v-for="opt in options" v-bind:value="opt">
                    {{opt}}
                  </option>
                </select>
              </div>
            </div>
            <div class="stat-card">
              <p>Terrain</p>
              <div class="select is-link">
                <select v-model="newTerr" id="selTerr">
                  <option v-for="opt in options" v-bind:value="opt">
                    {{opt}}
                  </option>
                </select>
              </div>
            </div>
            <div class="stat-card">
              <p>Size</p>
              <div class="select is-link">
                <select v-model="newSize" id="selSize">
                  <option v-for="opt in options" v-bind:value="opt">
                    {{opt}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="field is-grouped mt-6">
            <div class="control">
              <a class="button" id="submit" @click="addCache()"> Submit </a>
            </div>
            <div class="control">
              <a class="button" id="cancelButton" href="[[=URL('map')]]">
                Cancel
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="!formMode" class="container" id="confirmWrapper">
      <div class="columns is-mobile is-centered m-0 mt-3">
        <div class="column is-narrow">
          <div class="box has-text-centered">
            <h6 class="title is-6 mb-0">Cache Successfully Submitted</h6>
            <i class="fa fa-check fa-4x" aria-hidden="true"></i>
            <h6 class="subtitle is-6 ml-2 pr-3" id="confirmSubtitle">
              Your cache is pending review. If approved, the cache will be added
              to the map.
            </h6>
            <a href="[[=URL('map')]]" class="button gold-button"
              >Return to map</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let addCacheURL = '[[=XML(addCacheURL)]]';
  let loadGeoCachesURL = '[[=XML(loadGeoCachesURL)]]';
</script>
<script src="js/suggest.js"></script>

[[end]]
